.adverts{
  background: $white;
  min-width: 250px;
  width: 600px;
  padding: .7rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  .top-adverts{
    display: flex;
    justify-content: space-between;
    .fas{
      color: black;
      opacity: .75;
      cursor: pointer;
    }
    span{
      color: $color-2;
      font-size: .9rem;
    }
  }
  .category-adverts{
    display: flex;
    font-size: .9rem;
  }
  .type-adverts{
    display: flex;
    font-size: .9rem;
  }
  h3{
    font-size: 1.1rem;
  }
  .content-adverts{
    font-size: .9rem;
  }
  .actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .far{
      color: #FF0000;
      opacity: .75;
      cursor: pointer;
    }
    button{
      margin-right: .5rem;
      background: $color-2;
      color: $white;
      padding: .5rem .7rem;
      border-radius: 10px;
      cursor: pointer;
      transition: .3s;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      &:hover{
        transform: translateY(2px);
      }
    }
  }
  .mb{
    margin-bottom: .8rem;
  }
  .divider{
    height: 1px;
    background: $black;
    width: 90%;
    opacity: .1;
  }
}