.navigation-bar {
  display: flex;
  width: 100%;
  padding: 0.8rem 2rem;
  top: 0;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background: $color-1;
  z-index: 1;

  @media screen and (max-width: 800px) {
    padding: 0.4rem 1rem;
  }

  .centralcare {
    color: white;
    font-size: 1.5rem;
    @media screen and (max-width: 800px) {
      font-size: 1.2rem;
    }
  }
  .nav-list {
    display: flex;
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
  .nav-item {
    color: white;
    margin: 0 0.7rem;
    transition: 0.8s;
    font-size: .9rem;
    &:hover {
      transform: translateY(5px);
      color: $color-2;
    }
  }
  .nav-item-connect{
    color: $color-2;
    font-size: .9rem;
    background: $white;
    border-radius: 10px;
    padding: .2rem .8rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .nav-active p {
    color: $color-2;
  }

  .nav-bars {
    display: none;
    text-decoration: none;
    @media screen and (max-width: 800px) {
      display: flex;
      bottom: 0;
      position: fixed;
      background: $white;
      width: 100%;
      left: 0;
      .resp-icon{
        width: 25%;
        text-align: center;
        transition: .3s;
        padding: .6rem 0;
        span{
          color: $white;
          font-size: .8rem;
          background: $color-2;
          border-radius: 10px;
          padding: .4rem .5rem;
        }
      }
      .fas, .far{
        color: $color-2;
        font-size: 1.3rem;
      }
      .resp-active{
        background: $linear;
        .fas, .far{
          color: $white;
        }
        span{
          color: $white;
        }
      }
    }
  }
}
