.navigation-bar {
  display: flex;
  width: 100%;
  padding: 0.8rem 2rem;
  top: 0;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background: $color-1;
  z-index: 1;

  @media screen and (max-width: 800px) {
    padding: 0.4rem 1rem;
  }

  .centralcare {
    color: white;
    font-size: 1.5rem;
    @media screen and (max-width: 800px) {
      font-size: 1.2rem;
    }
  }
  .nav-list {
    display: flex;
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
  .nav-item {
    color: white;
    margin: 0 0.7rem;
    transition: 0.8s;
    &:hover {
      transform: translateY(5px);
      color: $color-2;
    }
  }

  .nav-active p {
    color: $color-2;
  }

  .nav-bars {
    display: none;
    text-decoration: none;
    @media screen and (max-width: 800px) {
      display: flex;
      bottom: 0;
      position: fixed;
      background: $white;
      width: 100%;
      left: 0;
      .resp-icon{
        width: 25%;
        text-align: center;
        transition: .3s;
        padding: .3rem 0;
      }
      .fas, .far{
        color: $color-2;
      }
      .resp-active{
        background: $linear;
        .fas, .far{
          color: $white;
        }
      }
    }
  }
}
