.container-adverts{
  .adverts-filter{
    position: relative;
    margin: 10rem auto 3rem auto;
    width: 90%;
    max-width: 1100px;
    background: $white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1.8rem .5rem 1rem .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .adverts-publish{
      position: absolute;
      top: -5px;
      left:50%;
      transform:translate(-50%, -50%);
      background: #FFA463;
      height: 40px;
      width: 100px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      color: $white;
      cursor: pointer;
      transition: .3s;
      &:hover{
        background: $color-2;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }
      .fas{
        margin-right: .5rem;
      }
    }
    input{
      padding:.5rem;
      margin: .5rem;
      min-width: 200px;
      width: 41%;
      border: 2px $color-2 solid;
      border-radius: 10px;
      &::placeholder{
        color: $color-2;
      }
    }
    .filter{
      button{
        background: $color-2;
        border-radius: 10px;
        padding: .5rem;
        color: $white;
        cursor: pointer;
        transition: .3s;
        height: 35px;
        margin: .2rem .5rem;
        &:hover{
          transform: translateY(2px);
        }
        .fas{
          margin-right: .5rem;
        }
      }
    }
  }
  .block-adverts{
    height: 500px;
  }
}