@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

$color-1: #22c2ba;
$color-2: #15736e;
$linear: linear-gradient(180deg, #22c2ba 0%, #1dc6dd 100%);
$black: rgb(40, 40, 40);
$white: rgb(253, 253, 253);
$shadow: rgb(219, 218, 218);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	outline: none;
	border: none;
	text-decoration: none;

	&::selection {
		background: $color-2;
		color: white;
	}
}

body {
	max-height: 100%;
	min-height: 100vh;
	background: $linear;
	background-image: url(../assets/polygon1.webp);
	font-family: 'Poppins', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	color: $color-2;
}
.error {
	color: red;
	font-weight: bold;
}
.success {
	color: green;
	font-weight: bold;
}
.fade-in-bottom {
	-webkit-animation: fade-in-bottom 1.5s cubic-bezier(0.39, 0.575, 0.565, 1)
		both;
	animation: fade-in-bottom 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in-bottom {
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes fade-in-bottom {
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
